/* CSS used here will be applied after bootstrap.css */.nav { margin-bottom: 0; }
.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.dropdown-menu>li { display: table-cell; }

/*global variables*/
.sitecolor {
	color: #04a7e3;
}

/*css for Most Popular column*/
.mostpopular {

}

/*css for author and popularity*/
a.author {
		color: black;
		text-decoration: none;
}

a.author:hover {
	text-decoration: underline;
}
.popularscore, .glyphicon-star {
	color: #04a7e3;
}